
        .bordered-text {
            padding: 20px;
            background: url('https://etimg.etb2bimg.com/photo/109752810.cms'); 
            background-size: cover; 
            border: 10px solid transparent; 
            border-image: url('https://etimg.etb2bimg.com/photo/109752810.cms') 30 stretch; 
            border-image-slice: 30; 
        }
