
        body {
            background-color: #f0f0f0; 
            background-image: url('https://etimg.etb2bimg.com/photo/109752810.cms'); 
            background-size: cover;
            height: 100vh; 
        }
