
        .element1 {
            background-color: #ffcccc; 
            padding: 20px;
        }
        .element2 {
            background-color: #ccffcc;
            padding: 20px;
        }
        .element3 {
            background-color: #ccccff; 
            padding: 20px;
        }
